body {
  background-color: #f0f0f0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

tr:not(:has(th)) {
  cursor: pointer;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  font-weight: 700;
  background-color: lightgray;
}
